:root {
  font-family: 'Baloo 2', 'Trebuchet MS', sans-serif;
  line-height: 1.45;
  font-weight: 500;
  color: #1d2f73;
  background-color: #fefbff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
}

p {
  margin: 0;
}

button {
  font: inherit;
}
